

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.activity{
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background-color: #AFEEEE;
}

.name{
    font-size: 36px;
    margin: 0; 
}

.time, .max-count, .current-count{
    margin: 0px;
    font-size: 24px;
}

.addBtn, .removeBtn{
    border-radius: 10px;
    height: 35px;
    background-color: #4682B4;
}

.addBtn:disabled, .removeBtn:disabled{
    background-color: #B0C4DE;
}